@model List<Member>
@{
    ViewData["Title"] = "Home Page";
}

<h3 style="float:right;">لیست اعضا</h3>
<div style="float:left;">
    <a class="btn btn-success" asp-controller="Member" asp-action="Add">
        جدید
    </a>
</div>

<br >

<div class="form-group" style="margin-top:4%; margin-bottom:1%;">
    <form class="row g-2" asp-action="Search" formmethod="post">

        <div class="col-auto">
	        <input class="form-control" name="name"  placeholder="نام مورد نظر را وارد کنید">
        </div>

        <div class="col-auto">
	        <button type="submit" class="btn btn-primary" >جستجو</button>
        </div>

    </form>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">شناسه</th>
        <th scope="col">نام</th>
        <th scope="col">نام خانوادگی</th>
        <th scope="col">شماره ملی</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var emp in Model)
    {
        <tr>
            <th scope="row">
               @emp.ID
            </th>
            <td>@emp.FirstName</td>
            <td>@emp.LastName</td>
            <td>@emp.SSID</td>
            <td>
                <a class="btn btn-info" asp-controller="Member" asp-action="Detail" asp-route-id="@emp.ID">
                    مشاهده
                </a>
                |
                <a class="btn btn-primary" asp-controller="Member" asp-action="Update" asp-route-id=@emp.ID>
                    ویرایش
                </a>
                |
                <a class="btn btn-danger" asp-controller="Member" asp-action="Remove" asp-route-id="@emp.ID">
                    حذف
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>